* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans KR', Arial, sans-serif;
}
/* Main container style */
.Main {
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  width: 100%;
}

/* Section styles */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: white;
  font-size: 2em;
}
/* Gradient background for the first section */
.gradient-background {
  background: linear-gradient(to right, #CC00FF, #FFCC99);
}

/* Black background for the other sections */
.black-background {
  background: black;
}

/*navigation bar style*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar container style */
.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Logo style */
.logo {
  color: white;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.navbar-box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 20px;
  height: 40px;
}

/* Navbar ul style */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

/* Navbar li style */
.navbar li {
  margin: 0 1rem;
}

.navbar a:hover{
  color: gray;
}

/* Navbar link style */
.navbar a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

/* Intro container style */
.intro-container {
  text-align: center;
  color: black;
  padding: 20px;
  margin-top: 100px;
}

.intro-text{
  font-size: 25px;
  color: white;
}

/* Recommend button style */
.recommend-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  width: 250px;
  height: 50px;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recommend-button:hover {
  background-color: #CC00FF;
}

/* Album container styles */
.album-container {
  display: flex;
  overflow-x: auto;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.album {
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

.album img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.album:hover {
  transform: scale(1.1);
}