.Recommendation {
  background: linear-gradient(270deg, #e1f4fe, #faffdd);
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 30px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  max-width: 95%; 
  margin: 0 auto;
}

.recommendation-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: calc(50% - 20px); 
  box-sizing: border-box;
}

.album-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 15px;
}

.recommendation-info {
  flex: 1; 
}

.recommendation-track {
  font-size: 1.1em;
  color: #535878; 
  margin: 0;
  font-weight: bold;
}

.recommendation-artist {
  font-size: 1em;
  margin: 0 0 10px;
  color: #555;
}

.recommendation-actions {
  display: flex;
  gap: 10px;
}

.like-button, .play-button, .add-button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.like-button.liked {
  background-color: #9ac8fa;
  color: white;
}

.play-button {
  background-color: #58a8fe;
  color: white;
}

.add-button {
  background-color: #2c3e50;
  color: white;
}

.no-recommendations {
  text-align: center;
  font-size: 1.2em;
  color: #999;
  margin-top: 50px;
}

.recommendation-button-container {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
}

.recommendation-finished {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
  background-color: #535878;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.recommendation-finished:hover{
  background-color: #797b85;
}
