.RecommendationOptions {
  background: f4f7fb;
  width: 100%;
  height: 100vh;
}

.content {
  padding-top: 100px; 
  text-align: center;
  color: black;
}

.content h1 {
  color: #535878;
}

.description {
  margin: 20px 0;
  font-size: 1rem;
  color: rgb(165, 162, 162);
}

.select-content{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 55vh;
  gap: 30px;
}

.options {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.option-button {
  display: block;
  padding: 0.5rem 1rem;
  background-color: rgba(252, 248, 245, 0.749);
  color: black;
  border: none;
  cursor: pointer;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px #58a8fe;
  text-align: center;
  text-decoration: none;
}

.option-button:hover {
  background-color: #e1f4fe;
}

.option-button img {
  width: 220px;
  height: 220px;
}

.option-button span {
  display: block;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}
