body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.ArtistSelection {
  background: black;
  color: white;
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
}

/* .select-container {
  padding-top: 100px;
} */

/* .page-title {
  margin-left: 30px;
} */

.select-complete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding-left: 30px;
  padding-right: 30px;
}

.select-complete-btn {
  padding: 10px 25px;
  background-color: #CC00FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.loading-spinner {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: white; 
  background-color: black; 
  padding: 20px;
}

.select-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}

.artist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.artist-image-container {
  position: relative;
  border: 10px solid transparent;
  border-radius: 50%;
  transition: border 0.3s ease;
}

.artist-item.selected .artist-image-container {
  border-color: #CC00FF;
}

.artist-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.artist-name {
  margin-top: 5px;
  text-align: center;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
