.playlist-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 최상위로 표시 */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.playlist-option-title{
  color: black;
}

.playlist-option {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playlist-option:hover {
  background-color: #9aa09c;
}

.playlist-close-button {
  margin-top: 10px;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
