.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* 페이지 콘텐츠보다 위에 위치하도록 설정 */
}

/* 스크롤되지 않았을 때의 Navbar 스타일 */
.navbar.transparent {
  background-color: transparent;
}

/* 스크롤된 후의 Navbar 스타일 */
.navbar.scrolled {
  background-color: #e1f4fe;
  backdrop-filter: blur(10px);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
  background: linear-gradient(to right, #3498db, #7bf38d);
  -webkit-background-clip: text; 
  color: transparent; 
}


.navbar-box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 20px;
  height: 40px;
}

/* Navbar ul 스타일 */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

/* Navbar li 스타일 */
.navbar li {
  margin: 0 1rem;
}

/* 링크 호버 시 색상 변경 */
.navbar a:hover {
  color: gray;
}

/* 링크 기본 스타일 */
.navbar a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
