.SearchResult {
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  width: 100%;
  background-color: #e1f4fe;
}

.search-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 100%;
  font-size: 2em;
}

.result-song-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  color: #2c3e50;
}

.search-keyword {
  color: #3498db;
  font-weight: bold;
  font-size: large;
}

.result-song-list {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-top: 20px;
  border-top: 1px solid #7f8c8d; 
  border-bottom: none; 
  border-left: none;
  border-right: none;
}

.result-song-line {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
  border-bottom: 1px solid #ccc; 
  padding: 20px;
}

.album-img2 {
  width: 70px;
  height: 70px;
  background-color: gainsboro;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 5px;
}

.result-singer-container{
  padding: 2rem;
  height: 200px;
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  color: #2c3e50;
}

.singer-img-container {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}

.singer-img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singer-img {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  cursor: pointer;
}

.singer-img:hover {
  background-color: grey;
}

.singer-name {
  display: flex;
  margin-top: 10px;
}